.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

html {
  line-height: 1;
}

body {
	font-family: 'Open Sans', sans-serif;
	: 1.5px;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.cf:after, .slick-dots:after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.slick-dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3px;
}
.slick-dots li {
  cursor: pointer;
  float: left;
  width: 33.3%;
  background: #000;
  padding: 0;
  border-right: 1px solid #fff;
}
.slick-dots li:last-child {
  border: none;
}
.slick-dots li, .slick-dots li button {
  outline: none;
}
.slick-dots li button {
  background: #99B386;
  border: none;
  width: 0px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  display: block;
}

.slick-slide .img--holder {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.story {
  cursor: pointer;
}

/*#story_two {
  display: inline-block;
}*/

.subheader-one {
	padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);

}
.subheader-one p{
	color: black;
}

.read-more-button {
  padding: 10px;
  margin-right: 5px;
  background-color: rgba(150, 150, 150,0.8);
  text-align: center;
}
.read-more-button b{
  color: white;
}

.header-one {
	padding: 100px;
}
.header-two {
	padding: 650px 60px 100px 600px;
	color: white;
}
#title {
	font-family: 'Patua One', cursive;
	line-height: 90%;
	padding-bottom: 15px;
}

.text{
  padding: 100px;
}

.stories {
	display: none;
}

.tab-title {
  background-color: #F5F5F5;
}
.tab-title a{
	color: #83894D;
}
.tab-title-r{
  background-color: #F5F5F5;
}
.tab-title-r a{
	color: #606437;
}

ul{
  padding:0;
  margin:0;
  display:inline;
}

.tabs{
  padding: 0;
  margin: 0;
}

.tab-title {
  font-size: 22px;
  margin-left: -4px;
  position: relative;
  width: 33%;
  height: 40px;
  text-align: center;
  font-family: 'Patua One', cursive;
  /*border-radius: 15px 50px 30px 5px;*/
}
.tab-title-r {
  font-size:22px;
  margin-left: -4px;
  position: relative;
  width: 50%;
  height: 40px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

@media only screen and (max-width: 45em) {
    .tab-title-r {
      font-size: 20px;
      margin-left: -4px;
      position: relative;
      width: 100%;
      height: 40px;
      text-align: center;
      font-family: 'Patua One', cursive;
    }
}

@media only screen and (min-width: 45.063em) and (max-width: 72em){
      .tab-title-r {
        font-size: 19px;
        margin-left: -4px;
        position: relative;
        width: 50%;
        height: 40px;
        text-align: center;
        font-family: 'Patua One', cursive;
      }
}
#linebreak {
	text-align: center;
	font-style: bold;
}
.content {
	font-family: 'Lato', sans-serif;
}
.verb {
	font-family: monospace;
	
}
.paren {
	font-style: italic;
}
#refer {
	font-family: 'Roboto Slab', serif;
/*	line-height: 95%;*/
	padding: 10px;
}
.aside {
	text-align: center;
	font-family: monospace;
}
.section {
	font-family: 'Patua One', cursive;
	font-size: 2.0em;
}
.stripe {
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0;
}
.stripe p {
	color: white;
	margin: 0;
}
.script {
	padding: 15px;
}
.speaker {
	font-family: 'Patua One', cursive;
}
#alarkon {
	background-color: #606437;
}
#maggio {
	background-color: #849E5D;
}
#ikejiri {
	background-color: #AC9E6B;
}
#johnson {
	background-color: #736A48;
}
#delemos {
	background-color: #83894D;
}
#mcdonald {
	background-color: #A8B063;
}

#tab1 {
  background-color: #DCDCDC;
}
#r1 {
  background-color: #DCDCDC;
}

#t1 {
  background-color: #DCDCDC;
}
	
#panel1 {
  background-color: #8FBC8F;
  padding: 20px;
}
figure {
	width: 100%;
	margin: 0;
}
figure .image {
	position: relative;
	z-index: -1;
}
figure .credit {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 4px;
    font-size: 0.7em;
    font-family: monospace, monospace;
    background-color: rgba(0,0,0, 0.25);
    color: rgba(255,255,255, 0.75);
}
.img-pair-container {
	margin: auto;
}
.suits img {
	display: inline-block;
	width: 100%;
}
.suits {
	margin-bottom: 50px;
}
.imgwrap {
	position: relative;
	width: 48%;
	display: inline-block;
}
.imgwrap div {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.66);
	visibility: hidden;
	display: inline-block;
	-webkit-transition: visibility opacity 0.2s;
	position: absolute;
	vertical-align: top;
}
.imgwrap p {
	margin: 350px 100px;
	color: white;
}
.imgwrap:hover div {
	visibility: visible;
	position: absolute;
}
figure.pair {
	position: relative;
    overflow: hidden;
    text-align: center;
}
figure.pair h2 {
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
figure.pair p {
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

#radio1 {
}
#radio2 {
  display: none;
}

#tab-gallery {
  display: none;
}

figcaption { 
  padding-top: 5px;
  font-style: italic;
  display: block;
  color: #737373;
  padding-left: 20px;
  padding-right: 20px;
}

#transcript {
  /*background-color: #DCDCDC;*/
  padding: 20px;
}

.content {
  padding: 20px;
}

#panel1 {
  background-color: #DCDCDC;
}
#panel2 {
  background-color: #DCDCDC;
  display:none;
}
#panel3 {
  background-color: #DCDCDC;
  display:none;
}


